COMPOSE_PROJECT_NAME=iot-platform

# ---------------------------------------------------------------- PostgreSQL
POSTGRES_VERSION=16-alpine
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=iot_devices
POSTGRES_USER=iot
POSTGRES_PASSWORD=change_me_postgres
# Дополнительные БД, создаются скриптом init/postgres/01-init-databases.sh
POSTGRES_EXTRA_DBS=iot_commands,keycloak,camunda

# --------------------------------------------------------------------- Redis
REDIS_VERSION=7-alpine
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis

# ---------------------------------------------------------------- ClickHouse
CLICKHOUSE_VERSION=24.8-alpine
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9010
CLICKHOUSE_DB=iot_telemetry
CLICKHOUSE_USER=iot
CLICKHOUSE_PASSWORD=change_me_clickhouse

# --------------------------------------------------------------------- Kafka
CONFLUENT_VERSION=7.6.1
KAFKA_INTERNAL_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=9093
# KRaft требует 16-байтный UUID в base64 (22 символа).
# Новый: python3 -c "import base64,uuid; print(base64.urlsafe_b64encode(uuid.uuid4().bytes).decode().rstrip('='))"
# При смене значения том kafka-data нужно пересоздать: make clean && make up
KAFKA_CLUSTER_ID=5kF0GeTqS3OtiMbQduwsug
KAFKA_TOPICS=iot.events:3:1,iot.device-id:3:1,iot.dlt:1:1

# ----------------------------------------------------------- Schema Registry
SCHEMA_REGISTRY_PORT=8081

# --------------------------------------------------------------------- MinIO
MINIO_VERSION=RELEASE.2024-10-13T13-34-11Z
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_BUCKETS=iot-dlt,iot-attachments

# ------------------------------------------------------------------ Keycloak
KEYCLOAK_VERSION=26.0
# На Apple Silicon с включённой Rosetta в Docker Desktop нативный arm64-образ
# Keycloak падает с SIGILL в JVM (JDK 21). Запускаем amd64-вариант через эмуляцию.
# На Linux/x86 можно поставить KEYCLOAK_PLATFORM=linux/amd64 без потерь скорости.
KEYCLOAK_PLATFORM=linux/amd64
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak
KEYCLOAK_DB=keycloak

# ------------------------------------------------------------------- Camunda
CAMUNDA_VERSION=run-7.21.0
CAMUNDA_PORT=8088
CAMUNDA_DB=camunda

# ------------------------------------------------------------- Observability
GRAFANA_VERSION=11.2.0
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana

PROMETHEUS_VERSION=v2.54.1
PROMETHEUS_PORT=9090

LOKI_VERSION=3.1.1
LOKI_PORT=3100

TEMPO_VERSION=2.6.0
TEMPO_HTTP_PORT=3200
TEMPO_OTLP_GRPC_PORT=4317
TEMPO_OTLP_HTTP_PORT=4318

ALLOY_VERSION=v1.4.2
ALLOY_PORT=12345

# --------------------------------------------------------------- Экспортёры
POSTGRES_EXPORTER_VERSION=v0.15.0
POSTGRES_EXPORTER_PORT=9187
KAFKA_EXPORTER_VERSION=v1.7.0
KAFKA_EXPORTER_PORT=9308
